body{
    background-image: linear-gradient( 135deg, #90F7EC 10%, #1662a1 100%);
    font-size: 18px;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

header {
    width: auto;
    margin: 20px auto;
}

header a img{
    height: 50px;
}

header p{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    vertical-align: top;
    text-align: center;
    position: absolute;
    top:0px;
    left: 300px;
    padding-bottom: 20px;
}

main{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.texto-ingresado{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;

}

.texto-a-transformar{
    width: 75%;
    height: 350px;
    margin: 0 2rem;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    appearance: none;
}

.texto-a-transformar:focus{
    outline: none;
    box-shadow: 2px 2px 10px 15px #1f8a7f;
}

.texto-a-transformar:hover{
    box-shadow: 2px 2px 10px 15px #1f8a7f;
}

div>p {
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
}

.Encriptar{
    margin: 0 20px 0 0;
}

.Desencriptar{
    margin: 0 0 0 20px;
}

button {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: none;
    background: #f5f1f1;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
}

button span {
    position: absolute;
}

button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
}

button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
}

button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
}

button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
}

button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
}

button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
}

button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
}

button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
}

button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
}

button:active span:nth-child(1)
span:nth-child(2)
span:nth-child(2)
span:nth-child(2) {
    transition: none;
    transition-delay: none;
}

.resultado{
    text-align: center;
    font-size: 16px;
    margin: 0 0 20px 0;
    width: 300px;
    height: auto;
    background: #f5f1f165;
    border-radius: 10px;
    transition: 400ms;
    margin: 0 auto;
}

.resultado:hover{
    background: #f5f1f1;
}

.muneco{
    padding-top: 20px;
    width: 100%;
}

.texto-titulo-area-resultado{
    font-size: 30px;
    margin: 10px 20px;
}

.texto-descripcion-area-resultado{
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
   margin: 10px 20px;
}

.copiar-texto{
    margin: 0 0 10px;
}

footer{
    position: absolute;
    left:450px;
    margin-top: 15px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
